<div data-cmp="testCmp">
	<div class="js-child-class">Carters Items</div>
    <div data-cmp="myBlock" data-cmp-id="myBlock">Child Block</div>
</div>

<script src="./dist/main.js"></script>
<script src="./dist/0.main.js"></script>
